{% extends 'base.html' %}

{% block title %}
my profile
{% endblock title %}

{% block content %}

<!-- MODAL -->
<div class="ui modal mymodal">
  <i class="close icon"></i>
  <div class="header">
    Update your Profile
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="{{profile.avatar.url}}">
    </div>
    <div class="description">
      <div class="ui header">Provide some additional/newest info about you </div>
     <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
    </div>
  </div>
  <div class="actions">
    <button type='submit' class="ui positive right labeled icon button">
      Update
      <i class="checkmark icon"></i>
    </button>
    </form>
  </div>
</div>



<div class="ui segment">
    {% if confirm %}
        <div class="ui green message">Your profile has been updated</div>
    {% endif %}
    <h3>{{profile.first_name}}   {{profile.last_name}} profile picture </h3>
    <div class="ui grid">
        <div class='row'>
            <div class='six wide column'>
                <img class="ui medium rounded image" src={{profile.avatar.url}}>
                <div class="row mt-5">
                    <button class='ui secondary button' id='modal-btn'>Update your profile</button>
                </div>
            </div>
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>{{profile.user}}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{profile.first_name}}   {{profile.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{profile.gender}}</td>
                        </tr>
                        <tr>
                            <td>Blood Group</td>
                            <td>{{profile.Blood_group_choice}}</td>
                        </tr>
                      
                        <tr>
                            <td>Donation Activity</td>
                            <td>{{profile.donation_activity}}</td>
                        </tr>
                        <tr>
                            <td>Last date of Donation</td>
                            <td>{{profile.Last_date_of_donation}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{profile.email}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{profile.country}}</td>
                        </tr>
                        <tr>
                            <td>Division</td>
                            <td>{{profile.Division}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{profile.City}}</td>
                        </tr>
                        <tr>
                            <td>Area</td>
                            <td>{{profile.Area}}</td>
                        </tr>
                        <tr>
                            <td>number of friends</td>
                            <td>{{profile.get_friends_no}}</td>
                        </tr>
                        
                        <tr>
                            <td>number of posts</td>
                            <td>{{profile.get_posts_no}}</td>
                        </tr>
                        <tr>
                         

                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}